.hackathon-meta {
  font-size: 1.3rem;
  color: var(--dark);
  opacity: 0.6;
  margin: 0;
}

.hackathon-project-name {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--dark);
  margin: 0;
}

.hackathon-result {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  background-color: var(--dark);
  color: var(--light);
}
