header {
  background-color: var(--dark);
  color: var(--light);
  font-family: inherit;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14rem;
  width: 100%;
}

/* HEADER - Left : Logo Brand with spans*/
.navbar-ctrl-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 5rem;
  margin: 1rem 5rem;
}

.boxhead {
  color: var(--light);
  text-decoration: none;
  cursor: url('/assets/cursor-paw-select.svg'), pointer;
}
a.boxhead:hover {
  color: var(--primary-30);
}
a.boxhead:active {
  color: var(--primary-60);
}

.logo {
  font-family: 'Fira Code';
  font-size: 1.75rem;
  font-weight: bold;
}

/* HEADER - Right : Navigation items*/
.navbar-ctrl-items {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 5rem;
  max-width: calc(
    100% - 30rem
  ); /* Adjust based on the width of .navbar-ctrl-brand */
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-item {
  font-family: inherit;
  min-width: 12rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0rem;
}

#btn-navbar {
  margin: 1.5rem 5rem;
}
.navbar-hide {
  display: none;
  text-decoration: none;
  font-weight: 600;
  font-style: italic;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 3rem;
}
.menu-icon .bar1 {
  width: 6rem;
  height: 0.6rem;
  margin: 0.8rem 0;
  background-color: var(--primary-60);
}
.menu-icon .bar2 {
  width: 6rem;
  height: 0.6rem;
  margin: 0.8rem 0;
  background-color: var(--secondary);
}
.menu-icon .bar3 {
  width: 6rem;
  height: 0.6rem;
  margin: 0.8rem 0;
  background-color: var(--tertiary);
}

/* Media Queries for Phone */
@media (max-width: 767px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 22rem;
  }

  .navbar-ctrl-brand {
    display: flex;
    justify-content: center;
    margin: 3rem;
    width: 30rem;
    height: 5rem;
  }
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  .navbar-hide {
    display: flex;
    margin-bottom: 20rem;
  }
  .navbar-hide.hide {
    display: none;
  }

  .menu-icon {
    display: flex;
    align-items: center;
  }

  .navbar-ctrl-items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    transform: translateY(-50%);
    background-color: var(--dark);
    width: 100%;
    height: 100%;
    justify-content: center;

    font-family: inherit;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0rem;

    #btn-navbar {
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }

  .navbar-ctrl-items.show {
    display: flex;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: -10rem; /* pull links closer to CLOSE */
  }

  .navbar-ctrl-items .btn-lets-talk {
    margin-top: 7rem; /* bigger gap before Let's talk */
  }
}
