@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --primary: #216bdb;
  --secondary: #fc0082;
  --tertiary: #feb327;
  --primary-60: #97d2f7;
  --primary-30: #cbe8fb;
  --primary-10: #e6fbfe;
  --secondary-60: #fd66b4;
  --secondary-10: #ffe5f2;
  --tertiary-60: #f7d493;
  --tertiary-10: #fff7e9;
  --blurry: #6f6686;
  --blue-dark: #20179f;
  --light: #f9f8fe;
  --dark: #100036;
}
.color-theme {
  --primary: #216bdb;
  --secondary: #fc0082;
  --tertiary: #feb327;
  --primary-60: #97d2f7;
  --primary-30: #cbe8fb;
  --primary-10: #e6fbfe;
  --secondary-60: #fd66b4;
  --secondary-10: #ffe5f2;
  --tertiary-60: #f7d493;
  --tertiary-10: #fff7e9;
  --blurry: #6f6686;
  --blue-dark: #20179f;
  --light: #f9f8fe;
  --dark: #100036;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: 'border-box';
}

header {
  background-color: var(--dark);
  color: var(--light);
  font-family: inherit;
  width: 100%;
}

body {
  background-color: var(--dark);
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0rem;
  padding: 0rem;
}

#control-content {
  margin: 5rem;
}
.custom-cursor {
  cursor: url('/assets/custom-cursor-pointer.svg'), pointer;
}

h1 {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 700;
  font-size: 4.8rem;
}

h2 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  padding: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
h3 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  padding: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
p {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding-bottom: 0rem;
  line-height: 2.5rem;
}

.font-dark {
  color: var(--dark);
}

.font-light {
  color: var(--light);
}

.highlight-box-shadow {
  display: inline;
  font-style: italic;
  font-weight: 600;
  box-shadow:
    inset 0 -0.5rem 0 var(--tertiary),
    0 0.3rem 0 var(--tertiary);
  transform: skew(-5deg);
}

.btn {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 2.5rem;
  border-radius: 0.75rem;
  border-style: solid;
  border-color: transparent;
  min-width: 10rem;
  cursor: url('/assets/custom-cursor-paw-select.svg'), pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light);
  transition: var(--primary) 0.2s ease;
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--dark);
  border-style: solid;
  border-width: 0.2rem;
  border-color: var(--primary);
}
.btn-primary:active {
  background-color: var(--secondary);
  color: var(--light);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--light);
  transition: var(--secondary) 0.2s ease;
}

.btn-secondary:hover {
  background-color: transparent;
  color: var(--light);
  border-style: solid;
  border-width: 0.2rem;
  border-color: var(--secondary);
}

.btn-secondary:active {
  background-color: var(--secondary);
  color: var(--light);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14rem;
  width: 100%;
}

/* HEADER - Left : Logo Brand with spans*/
.navbar-ctrl-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 5rem;
  margin: 1rem 5rem;
}

.boxhead {
  color: var(--light);
  text-decoration: none;
  cursor: url('/assets/custom-cursor-paw-select.svg'), pointer;
}
a.boxhead:hover {
  color: var(--primary-30);
}
a.boxhead:active {
  color: var(--primary-60);
}

.logo {
  font-family: 'Fira Code';
  font-size: 1.75rem;
  font-weight: bold;
}

/* HEADER - Right : Navigation items*/
.navbar-ctrl-items {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 5rem;
  max-width: calc(
    100% - 30rem
  ); /* Adjust based on the width of .navbar-ctrl-brand */
}

.navbar-item {
  font-family: inherit;
  min-width: 12rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0rem;
}

#btn-navbar {
  margin: 1.5rem 5rem;
}
.navbar-hide {
  display: none;
  text-decoration: none;
  font-weight: 600;
  font-style: italic;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 3rem;
}
.menu-icon .bar1 {
  width: 6rem;
  height: 0.6rem;
  margin: 0.8rem 0;
  background-color: var(--primary-60);
}
.menu-icon .bar2 {
  width: 6rem;
  height: 0.6rem;
  margin: 0.8rem 0;
  background-color: var(--secondary);
}
.menu-icon .bar3 {
  width: 6rem;
  height: 0.6rem;
  margin: 0.8rem 0;
  background-color: var(--tertiary);
}

/* INTRODUCTION - Left : Content*/

.introduction.control {
  width: 100%;
  height: 50rem;
  display: flex;
  gap: 2rem;
  padding: 5rem 0;
}

.introduction.content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-content: right;
  padding: 2rem 0 2rem 30rem;
}

.introduction.logo-form {
  width: 50%;
  padding: 3rem;
  display: block;
}

.img-intro {
  display: block;
}

#h1-subtitle {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 45rem;
}

/* Style all font awesome icons */
.social-media-control {
  display: flex;
  justify-content: left; /* Center horizontally */
  align-items: center; /* Center vertically */
  box-sizing: border-box;
  margin: 2rem 0 0 0;
}
.fa {
  display: inline-flex; /* Make the icons flex containers */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 0 0.5rem; /* Adjust spacing between icons */
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 15rem;
}

.fa:hover {
  opacity: 0.7;
  cursor: url('/assets/custom-cursor-paw-select.svg'), pointer;
}
.fa-linkedin {
  background: #0e76a8;
  color: white;
}
.fa-github {
  background: #333333;
  color: white;
}
.fa-google {
  background: #ea4335;
  color: white;
}

.btn-introduction {
  margin: 2rem 0 3rem 0;
  width: 15rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.content-width {
  width: 70rem;
  margin: 1rem;
}

.div-bg-light {
  display: flex;
  flex-direction: column;
  height: 30rem;
  padding-top: 5rem;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: var(--light);
}

/* -- Skills -- section */
.skill.section-control {
  height: 70rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

h2.section-title {
  margin-bottom: 5rem;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  color: var(--dark);
  padding: 1rem;
  position: absolute;
  top: 10%; /* Distance from the top */
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.skill-bg {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.skill-bg.light {
  background-color: var(--light);
}

.skill-bg.dark {
  background-color: var(--dark);
}

.overlay-skills {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Ensure it is on top of other elements */

  width: 120rem;
  height: 50%;
  min-height: 40rem;
  background-color: var(--light);

  border-style: solid;
  border-width: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-color: var(--dark);

  border-radius: 0.75rem;
  color: var(--dark);
}
.control-skill {
  position: relative;
  max-height: 100%;
  width: 33.333%;
  z-index: 20;

  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
#skill-1 {
  background-color: var(--tertiary-10);
  border-style: solid;
  border-width: 0rem 0.1rem 0rem 0rem;
  border-color: var(--dark);

  border-radius: 0.75rem 0 0 0.75rem;
}

#skill-2 {
  background-color: var(--secondary-10);
  border-style: solid;
  border-width: 0rem 0.1rem 0rem 0.1rem;
  border-color: var(--dark);
}

#skill-3 {
  background-color: var(--primary-10);
  border-style: solid;
  border-width: 0rem 0rem 0rem 0.1rem;
  border-color: var(--dark);

  border-radius: 0 0.75rem 0.75rem 0;
}

.skill.title {
  display: flex;
  height: 25%;
  max-width: 100%;
  justify-content: left;
  align-items: center;
  margin-left: 0rem;
}
.skill.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%; /* Make it round */
  margin-right: 2rem; /* Space between icon and content */
  margin-left: 4rem;
  margin-top: 2rem;
}
.icon1 {
  background-color: var(--tertiary); /* Yellow background */
}
.icon2 {
  background-color: var(--secondary); /* Yellow background */
}
.icon3 {
  background-color: var(--primary); /* Yellow background */
}

h3.skill {
  margin-left: 0rem;
  margin-top: 1.5rem;
}
.skill.content {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: left;
}
.skill.horizontal-band {
  width: 20%;
  height: 85%;
  margin: 1rem 1rem 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rectangle {
  width: 0.2rem;
  height: 22rem;
  background: var(--blurry);
  flex-shrink: 0; /* Prevent shrinking */
}

.skill.tag {
  display: inline-block;
  color: var(--blurry);
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0.5rem 0; /* Add margin to create space between elements */
  text-align: center; /* Center text within the span */
  overflow: hidden; /* Hide overflow text */
  width: 100%;
  flex-shrink: 0; /* Prevent shrinking */
  font-size: 1.5rem;
  font-style: italic;
}
p.skill {
  text-align: left;
  width: 80%;
  margin: 3rem 2rem 5rem 1rem;
}
.about-me {
  padding: 0 30rem 0 30rem;
  margin: 3rem 3rem;
  width: 60rem;
}

.content h3 {
  margin: 0;
  font-size: 2.4rem;
  font-weight: bold;
}

/* MY PROJECTS section */

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 4rem;
}

h2.project-title {
  margin: 0 0 5rem 0;
}

.project-cards {
  display: flex;
  flex-direction: row;
  background-color: var(--dark);
  height: 150rem; /* 30rem x5 */
  width: 110rem;
  padding: 0 0 0rem 0;
  margin: 0 0 20rem 0;
  border-radius: 0.75rem;
}

.project-column {
  display: flex;
  flex-direction: column;
}

.project-column.left {
  background-color: var(--dark);
  align-self: flex-start;
  width: 50%;
  height: 98%;
  border-radius: 0.75rem;
}
.project-column.right {
  background-color: var(--dark);
  align-self: flex-end;
  width: 50%;
  height: 98%;
  border-radius: 0.75rem;
}

.project-card {
  height: 30rem;
  width: 90%;
  border-radius: 0.75rem;
  padding: 5%;
  position: relative;
  display: flex;
}

.card-left-tertiary {
  background-color: var(--tertiary-10);
}
.card-left-secondary {
  background-color: var(--secondary-10);
}
.card-left-primary {
  background-color: var(--primary-10);
}

.btn-play-container {
  width: 10rem;
  height: calc(10rem * 0.4047); /*height-per-width ratio of the original image*/
  border: none;
  overflow: hidden; /* Hide overflow content */
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the child */
}
.btn-play-link {
  display: inline-block;
  text-decoration: none; /* Remove underline */
  color: #333; /* Link text color */
  text-align: center;
  transition: transform 0.2s ease-in-out; /* Smooth animation */
  cursor: url('/assets/custom-cursor-paw-select.svg'), pointer;
}

.btn-play {
  background-image: url('assets/btn-play.svg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.btn-play:hover {
  background-image: url('assets/btn-play-hover.svg');
}

.btn-play:active {
  background-image: url('assets/btn-play.svg');
}

#left-card1 {
  border-radius: 0.75rem 0.75rem 0 0;
}
#left-card2 {
  border-radius: 0 0 0 0;
}
#left-card3 {
  border-radius: 0 0 0 0;
}
#left-card4 {
  border-radius: 0 0 0 0;
}
#left-card5 {
  border-radius: 0 0 0.75rem 0.75rem;
}

span.card-category {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--dark);
  font-weight: bold;
  margin: 5rem 0rem 5rem 5rem;
  font-size: 2.5rem;
}

.h3-card-title-1l {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the child */
  width: 80%;
  font-size: 24px;
  color: var(--dark);
  margin: 0 0 0 0;
  font-size: 5rem;
  font-weight: 500;
}

.h3-card-title-2l {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the child */
  width: 80%;
  font-size: 24px;
  color: var(--dark);
  margin: 0 0 0 0;
  font-size: 5rem;
  font-weight: 500;
}

span.category {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--dark);
  font-weight: bold;
}
.card-category.highlight-box-shadow.primary {
  box-shadow:
    inset 0 -1.3rem 0 var(--primary-60),
    0 0.3rem 0 var(--primary-60);
}

.card-category.highlight-box-shadow.secondary {
  box-shadow:
    inset 0 -1.3rem 0 var(--secondary),
    0 0.3rem 0 var(--secondary);
}

.card-category.highlight-box-shadow.tertiary {
  box-shadow:
    inset 0 -1.3rem 0 var(--tertiary),
    0 0.3rem 0 var(--tertiary);
}

.card-right-tertiary {
  background-color: var(--tertiary);
}
.card-right-secondary {
  background-color: var(--secondary);
}
.card-right-primary {
  background-color: var(--primary-60);
}

.project-description {
  color: var(--dark);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin-bottom: 2rem;
}

.btn-project-discover {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.75rem 4rem;
  height: 3rem;
  max-width: 20rem;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-project-discover:hover {
  background-color: var(--primary-10);
  color: var(--dark);
  border-color: var(--dark);
}

.btn-project-discover:active {
  background-color: var(--dark);
  color: var(--light);
}

#right-card1 {
  border-radius: 0.75rem 0.75rem 0 0;
}
#right-card2 {
  border-radius: 0 0 0 0;
}
#right-card3 {
  border-radius: 0 0 0 0;
}
#right-card4 {
  border-radius: 0 0 0 0;
}
#right-card5 {
  border-radius: 0 0 0.75rem 0.75rem;
}

/* Contact me*/

.contact.div-bg-yellow {
  background-color: var(--tertiary-10);
  height: 65rem;
  padding: 3% 0 0 0;
  width: 100%;
  display: flex;
}

.contact.div-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: left;
  background-color: var(--tertiary-10);
  height: 100%;
  width: 50%;
  padding: 0 0 0 15%;
  position: relative;
}
.contact.div-bear {
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-10);
  height: 100%;
  width: 50%;
}

h2.contact {
  padding: 0 0 0 0;
  margin: 8rem 0 2rem 0;
  width: 70%;
}
p.contact {
  width: 100%;
  margin: 0 0 2rem 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem 2rem 0;
}
.input-contact-details {
  display: flex;
  align-self: flex-start;
  width: 100%;
  gap: 5%; /* Space between the input boxes */
}

.input-message {
  padding-top: 1rem;
  padding-bottom: 0;
  box-sizing: border-box;
  width: 100%;
  height: 15rem;
  margin: 1rem 0 0 0;
}

input[type='text'],
input[type='email'] {
  width: 45%;
  height: 2.5rem; /* Adjust as necessary for height */
  padding: 0.5em;
  margin-bottom: 2rem; /* Space below the input fields */
  border: 1px solid var(--dark);
  border-radius: 1rem;
  background-color: var(--tertiary-60);
  color: var(--dark);
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

textarea[type='message'] {
  width: 100%; /* Width ratio */
  height: 100%; /* Adjust as necessary for height */
  padding: 0.5em;
  margin-bottom: 20px; /* Space below the input fields */
  border: 1px solid var(--dark);
  border-radius: 2rem;
  background-color: var(--tertiary-60);
  color: var(--dark);
  top: 1rem;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='text']::-ms-value,
input[type='email']::-ms-value {
  color: var(--dark);
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
textarea[type='message']::placeholder,
textarea[type='message']::-ms-value {
  color: var(--dark);
  position: relative;
  top: 1rem;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.btn.btn-send-form {
  background-color: var(--tertiary);
  border: 1px solid var(--dark);
  border-radius: 1rem;
  width: 12rem;
  align-self: flex-start;
  margin: 5.5rem 0 0 0;
}
.btn.btn-send-form:hover {
  background-color: var(--tertiary-10);
  color: var(--dark);
  border-color: var(--dark);
}

.btn.btn-send-form:active {
  background-color: var(--tertiary);
  color: var(--dark);
}

.bear-logo {
  height: 60%;
  width: 70%;
  padding: 5rem 5rem 5rem 5rem;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

p.email {
  width: 70%;
  justify-self: center;
  align-self: center;
  text-align: center;
  padding: 1rem 0 1rem 0;
}

.contact.social-media-control {
  width: 70%;
  justify-content: center;
  align-self: center;
}
.footer {
  height: 28rem;
  width: 100%;
  background-color: var(--tertiary-10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p.developped-by {
  color: var(--dark);
  height: 2rem;
  margin: 5rem 0 10rem 0;
  font-style: italic;
}

.come-soon {
  width: 100%;
  height: 100%;
  border-style: dashed;
  border-bottom: transparent;
  border-color: var(--light);
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}
p.to-do {
  color: var(--light);
  justify-content: flex-end;
  margin: 2rem 0 2rem 0;
  text-align: center;
}

#return-to-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 5rem;
  height: 4rem;
  cursor: url('/assets/custom-cursor-paw-select.svg'), pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  z-index: 30;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

#return-to-top img {
  width: 100%;
  height: 100%;
}

#return-to-top.visible {
  opacity: 1;
  visibility: visible;
}

/* Media Queries for Phone -------------------------------------------------------------------------------------------*/
@media (max-width: 420px) {
  /*NAVBAR*/
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 22rem;
  }

  .navbar-ctrl-brand {
    display: flex;
    margin: 3rem 0;
    width: 30rem;
    height: 5rem;
  }
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  .navbar-hide {
    display: flex;
    margin-bottom: 20rem;
  }
  .navbar-hide.hide {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .navbar-ctrl-items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    background-color: var(--dark);
    width: 100%;
    height: 100%;
    justify-content: center;

    font-family: inherit;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0rem;

    #btn-navbar {
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }

  .navbar-ctrl-items.show {
    display: flex;
  }

  /*INTRODUCTION */
  .introduction.control {
    width: 100%;
    height: 70rem;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .introduction.content {
    align-self: flex-end;
    margin: 3rem 0 0 0;
    width: 100%;
    display: flex;
    text-align: center;
    align-content: center;
    padding: 0;
  }
  .introduction.logo-form {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 39rem;
    padding: 0rem;
  }
  .img-intro {
    display: block;
    max-width: 100%; /* Optional: Ensure the image is responsive */
  }

  #h1-subtitle {
    align-self: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 80%;
  }

  .social-media-control {
    justify-content: center; /* Center horizontally */
  }

  .btn-introduction {
    align-self: center;
    margin: 3rem 0 3rem 0;
  }

  /* Skill*/
  .div-bg-light {
    height: 58rem;
    padding-top: 0;
  }

  .container {
    display: flex;
  }

  .content-width {
    width: 80%;
    margin: 5rem;
  }

  .skill.section-control {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 180rem;
    width: 100%;
  }

  h2.section-title {
    display: flex;
    align-items: center;
    margin: 0 auto; /* Center horizontally */
    padding: 1rem;
    margin: 0 auto; /* Center horizontally */
    height: 5rem;
  }

  .skill-bg {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: center; /*Items center horizontally*/
    justify-content: flex-start; /* Items from the Top vertically */
    margin: 0;
    height: 100rem;
    width: 100%;
  }
  .skill-bg.light {
    background-color: var(--light);
  }

  .skill-bg.dark {
    background-color: var(--dark);
  }

  .overlay-skills {
    display: flex;
    flex-direction: column;

    border-style: none;
    width: 100%;
    height: 120rem;
    min-height: 40rem;
  }
  .control-skill {
    max-height: 100%;
    width: 100%;
  }
  #skill-1 {
    border: none;
    border-radius: 0.75rem 0.75rem 0 0;
  }

  #skill-2 {
    border: none;
  }

  #skill-3 {
    border: none;
    border-radius: 0 0 0.75rem 0.75rem;
  }

  /* MY PROJECTS section */

  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /*CHANGED*/
    align-items: center;
    text-align: center;
    padding-top: 4rem;
  }

  h2.project-title {
    margin: 0 0 5rem 0;
  }
  .project-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--dark);
    height: 300rem; /* 30rem x10 +1*15rem for Spacing before contact section */
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0rem;
    position: relative;
  }

  .project-column {
    display: flex;
    flex-direction: column;
    height: 300rem;
    gap: 30rem;
    position: absolute;
  }

  .project-column.left {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    top: 0;
  }
  .project-column.right {
    background-color: transparent;
    width: 100%;
    height: 270rem; /*Spacing before contact section*/
    border-radius: 0.75rem;

    top: 30rem;
  }

  .project-card {
    height: 30rem;
    width: 100%;
    border-radius: 0rem;
    padding: 0;
    position: relative;
    display: flex;
    z-index: 30;
  }

  #left-card1 {
    border-radius: 0.75rem 0.75rem 0 0;
  }
  #left-card2 {
    border-radius: 0;
  }
  #left-card3 {
    border-radius: 0;
  }
  #left-card4 {
    border-radius: 0;
  }
  #left-card5 {
    border-radius: 0;
  }

  .h3-card-title-1l {
    font-size: 4rem;
  }

  .h3-card-title-2l {
    font-size: 4rem;
  }

  .project-description {
    font-size: 1.6rem;
  }

  #right-card1 {
    border-radius: 0;
  }
  #right-card2 {
    border-radius: 0;
  }
  #right-card3 {
    border-radius: 0;
  }
  #right-card4 {
    border-radius: 0;
  }
  #right-card5 {
    border-radius: 0 0 0 0;
  }

  /* Contact me*/

  .contact.div-bg-yellow {
    height: 110rem;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
  }

  .contact.div-form {
    align-items: center;
    height: 60%;
    width: 100%;
    padding: 0;
    position: relative;
    justify-content: flex-start;
  }
  .contact.div-bear {
    height: auto;
    width: 100%;
    justify-content: flex-end;
  }

  .contact-form {
    padding: 0;
    margin: 3rem;
  }

  .btn.btn-send-form {
    align-self: center;
  }

  .bear-logo {
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .contact.social-media-control {
    height: 7rem;
  }

  /*FOOTER*/
  .footer {
    width: 101%;
    height: 30rem;
    margin: -0.1rem;
  }
}
